{% extends 'base.html.twig' %}


{% block body %}
    <h1>Home</h1>
    {{ form(form) }}
    <div>
        <button class="btn btn-secondary">  <a style="text-decoration: none" href=" {{ path('app_login') }}"> Đăng Nhập </a> </button>
    </div>




{% endblock %}

